.details {
  margin-block: 1.8rem;

  border-radius: 8px;
  background-color: var(--bg-clr-06);
}

.details__summary {
  --gap: 2.8rem;
  @extend %flex;
  flex-direction: column;

  padding-block: 2.8rem;
  padding-inline: 3.6rem;

  pointer-events: none;

  > button {
    pointer-events: auto;
  }
}

.details__header {
  --gap: 1.2rem;
  @extend %flex;
}

.details__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--font-clr-04);
}

.details__heading-base {
  @extend %heading-base;
  text-transform: uppercase;
  color: var(--font-clr-04);
}

.details__heading-lg {
  @extend %heading-lg;
}

.details__btn {
  --gap: 0.8rem;
  @extend %center;
  @extend %text-sm;
  padding-block: 1rem;
  padding-inline: 1.2rem;
  border-radius: 8px;
  width: fit-content;

  background-color: var(--bg-clr-07);
  color: var(--font-clr-01);
  text-transform: capitalize;

}

.details__btn__icon {
  width: 2rem;
  height: 2rem;

  transition: 0.3s ease;

  &[data-state="open"] {
    transform: rotate(-180deg);
  }
}

.details__content {
  --gap: 2.8rem;
  @extend %flex;
  flex-direction: column;

  padding-block: 2.8rem;
  padding-inline: 3.6rem;
  border-top: 1px solid var(--bg-clr-07);
}

.details__text-base {
  @extend %text-base;
}
