.explorable {
  @extend %center;
  position: relative;

  width: 100%;
  height: 42.6rem;
  margin-block: 3.2rem;
  border-radius: 0.4rem;

  background-color: var(--bg-clr-02);
  box-shadow: var(--elevation-2);
  outline: none;

  &::after {
    content: '';
    @extend %cover;
    z-index: 99999;
    border-radius: 12px;
    pointer-events: none;
    border: 4px solid var(--accent-clr);
    box-shadow: 0px 0px 999999px var(--accent-clr);
    transform: scale(1.01, 1.02);
    opacity: 0;
    filter: saturate(0.4);

    transition: 0.8s cubic-bezier(.25, .8, .25, 1);
  }

  &:focus,
  &:focus-within {
    &::after {
      opacity: 1;
    }

  }
}
