%heading-3xl {
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);

  @include media ("<phone") {
    // font-size: 1%4rem;
  }
}

%heading-2xl {
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  @include media ("<phone") {
    // font-size: 1%4rem;
  }
}

%heading-xl {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  @include media ("<phone") {
    // font-size: 1%4rem;
  }
}

%heading-lg {
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  @include media ("<phone") {
    // font-size: 1%4rem;
  }
}

%heading-base {
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  @include media ("<phone") {
    // font-size: 1%4rem;
  }
}

%heading-sm {
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  @include media ("<phone") {
    // font-size: 1%4rem;
  }
}

