:root {
  --white: 0 0% 100%;
  --black: 0 0% 0%;

  --gray-100: 0 0% 98%;
  --gray-200: 0 0% 96%;
  --gray-300: 208 37% 96%;
  --gray-400: 0 0% 77%;
  --gray-700: 0 0% 44%;
  --gray-800: 0 0% 25%;
  --gray-900: 0 0% 11%;

  --purple-100: 240 60% 95%;
  --purple-600: 239 82% 65%;

  --green-500: 151 51% 51%;
}
