:root {
  --white: 0 0% 100%;
  --black: 0 0% 0%;

  --gray-100: 0 0% 98%;
  --gray-200: 0 0% 96%;
  --gray-300: 206 12% 84%;
  --gray-400: 0 0% 90%;
  --gray-500: 0 0% 77%;
  --gray-700: 0 0% 44%;
  --gray-800: 0 0% 25%;
  --gray-900: 0 0% 11%;

  --purple-100: 240 60% 95%;
  --purple-600: 239 82% 65%;
  --purple-700: 239 44% 51%;
  --purple-900: 233 26% 20%;

  --green-600: 151 51% 38%;

  --blue-100: 208 37% 96%;
  --blue-200: 202 44% 92%;
  --blue-200: 202 44% 82%;
  --blue-700: 227 48% 42%;
  --blue-800: 223 8% 17%;
  --blue-900: 230 8% 14%;
}
