:root {
  --highlight: 1.2rem;
  --elevantion--1: inset 0px 2px 0px rgba(0, 0, 0, 0.04), inset 4px 4px 12px rgba(0, 0, 0, 0.04);
  --elevantion-1: 0px 2px 0px rgba(0, 0, 0, 0.04), 0px 8px 30px rgba(0, 0, 0, 0.04);
  --elevantion-2: 0px 2px 0px rgba(0, 0, 0, 0.04), 0px 8px 30px rgba(0, 0, 0, 0.08);
  --elevantion-3: 0px 2px 0px rgba(0, 0, 0, 0.04), 0px 8px 30px rgba(0, 0, 0, 0.1);
  --elevantion-4: 0px 2px 0px rgba(0, 0, 0, 0.04), 0px 8px 30px rgba(0, 0, 0, 0.12);
  --elevantion-5: 0px 2px 0px rgba(0, 0, 0, 0.04), 0px 8px 30px rgba(0, 0, 0, 0.12);

  --elevantion-hover: 0px 0px 0px var(--highlight) rgba(0,0,0,0.06);
}
