.interface {
  @extend %cover;
  pointer-events: none;
}

.interface__wrapper {
  height: 100%;
  @extend %space-between;
  flex-direction: column;
  padding: 1rem;
}

.interface__top-bar,
.interface__bottom-bar {
  width: 100%;
  @extend %space-between;
}

.interface__conditions-list,
.interface__results-list,
.interface__actions {
  --gap: 0;
  @extend %center;
  padding: 0.8rem;
  background-color: var(--bg-clr-01);
  border-radius: 12px;
  box-shadow: var(--elevation-5);
  pointer-events: all;
}


.interface__actions {
  background-color: var(--bg-clr-07);

}

.interface__action-btn,
.interface__condition,
.interface__result {
  --gap: 0.8rem;
  @extend %heading-base;
  @extend %center;
  font-weight: 500;
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  background-color: var(--bg-clr-01);
  border-radius: 8px;
}


.interface__action-btn__icon,
.interface__condition__icon {
  width: 1.8rem;
  height: 1.8rem;
}


.interface__conditions-item {}


.interface__condition__text-base,
.interface__result__text-base {
  @extend %text-base;

  &.--sr-only {
    @extend %sr-only;
  }
}

.interface__results {
  @extend %cover;
  @extend %center;
  flex-direction: column;
  z-index: 2;
  background-color: var(--bg-clr-09);
}

.interface__results__wrapper {
  @extend %center;
  flex-direction: column;
  background-color: var(--bg-clr-08);
  padding-block: 3.2rem;
  padding-inline: 6.4rem;
  border-radius: 12px;
  box-shadow: var(--elevation-5);
}

.interface__results__heading-2xl {
  @extend %heading-2xl;
  color: var(--font-clr-06);

}

.interface__results-list {
  // --gap: 3.2rem;
  flex-direction: column;
  box-shadow: unset;
  background-color: unset;
}

.interface__result {
  --gap: 1.8rem;
  background-color: unset;
  padding-block: unset;
}

.interface__result__icon {
  width: 4.2rem;
  height: 4.2rem;
  color: var(--font-clr-06);

}

.interface__result__text-2xl {
  @extend %text-2xl;
  color: var(--font-clr-06);
}

.interface__badge {
  @extend %text-sm;
  color: var(--font-clr-06);
  background-color: var(--bg-clr-08);
  padding-inline: 0.8rem;
  border-radius: 4px;
  margin-inline-start: 1rem;
}
