.interface {
  @extend %cover;
  pointer-events: none;
}

.interface__wrapper {
  height: 100%;
  @extend %space-between;
  flex-direction: column;
  padding: 1rem;
}

.interface__top-bar,
.interface__bottom-bar {
  width: 100%;
  @extend %space-between;
}

.interface__conditions-list,
.interface__actions {
  --gap: 0;
  @extend %center;
  padding: 0.8rem;
  background-color: var(--bg-clr-01);
  border-radius: 12px;
  box-shadow: var(--elevation-5);
  pointer-events: all;
}


.interface__actions {
  background-color: var(--bg-clr-07);

}

.interface__action-btn,
.interface__condition {
  --gap: 0.8rem;
  @extend %heading-base;
  @extend %center;
  font-weight: 500;
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  background-color: var(--bg-clr-01);
  border-radius: 8px;
}


.interface__action-btn__icon,
.interface__condition__icon {
  width: 1.8rem;
  height: 1.8rem;
}


.interface__conditions-item {}


.interface__condition__text {
  &.--sr-only {
    @extend %sr-only;
  }
}

.interface__results {
  @extend %cover;
  z-index: 2;
  background-color: var(--bg-clr-07);
}
