.home__explorable {
  @extend %flex;
  flex-direction: column;
  padding-inline: 2.2rem;
  padding-block: 2.4rem;
  border-radius: 1.2rem;
  background-color: var(--bg-clr-01);
  border: 1px solid  var(--bg-clr-02);
  box-shadow: var(--elevantion-1);

  transition: 0.4s ease;

  &:hover {
    box-shadow: var(--elevantion-hover);

    .home__explorable__btn {
      transition: 0.3s ease;
      background-color: var(--accent-clr);
      color: white;
    }
  }
}

.home__explorable__heading-lg {
  --gap: 1.2rem;
  @extend %flex;
  align-items: center;
  @extend %heading-sm;
  color: var(--font-clr-02);
}

.home__explorable__heading-xl {
  @extend %heading-xl;
}

.home__filter__text-base,
.home__explorable__text-base {
  @extend %text-base;
}

.home__explorable__btn {
  @extend %heading-lg;
  @extend %center;
  margin-block-start: 2rem;
  padding-block: 1.2rem;
  text-transform: uppercase;
  width: 100%;
  border-radius: 12px;
  border: 2px solid var(--bg-clr-02);




}

.home__explorable__btn__icon {
  width: 2.2rem;
  height: 2.2rem;
}
