@import './explorable';

.home {
  @extend %page;


  background-size: 4rem 4rem;
  background-image: radial-gradient(circle, #4e4e4e 1px, rgba(0, 0, 0, 0) 1px);
  background-color: var(--bg-clr-02);
}

.home__wrapper {
  @extend %page__wrapper;
  max-width: $max-width;
  margin-inline: auto;
  padding-block: 4.8rem;
  padding-inline: 4rem;
}

.home__fixed {
  position: sticky;
  top: 0;
  margin-block-start: -4.8rem;
  padding-block-start: 4.8rem;
  padding-inline: 2rem;
  background-color: var(--bg-clr-01);
  border-radius: 0 0 1.2rem 1.2rem;
  box-shadow: var(--elevation-2);
}

.home__heading-3xl {
  @extend %heading-3xl;
}

.home__filter {
  @extend %flex;
  align-items: center;
  margin-block: 2.8rem;
  padding-block: 2rem;
}
.home__filter__list {
  @extend %flex;
}

.home__filter__option {}

.home__filter__btn {
  @extend %center;
  @extend %text-base;
  font-weight: var(--font-bold);
  padding-inline: 1.4rem;
  padding-block: 0.8rem;
  border-radius: 1.2rem;
      background-color: transparent;

  border: 2px solid var(--bg-clr-02);
  cursor: pointer;

  transition: brightness 0.3s ease;

  &:hover {
    filter: brightness(0.8);
  }

  &[data-selected="true"] {
    background-color: var(--bg-clr-02);
    box-shadow: var(--elevation-4);
    border-color: var(--accent-clr);
  }
}



.home__results {

}

.home__results__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, calc((100% - 6rem) / 4 )));
  gap: 2rem;
}

.home__results__item {

}

