@import './gate';
@import './section';

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chapter {
  @extend %page;

  background-size: 4rem 4rem;
  background-image: radial-gradient(circle, #4e4e4e 1px, rgba(0, 0, 0, 0) 1px);
  background-color: var(--bg-clr-02);
}

.chapter__wrapper {
  @extend %page__wrapper;
  @extend %space-between;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  max-width: $max-width;
  margin-inline: auto;

  padding-inline: 6.4rem;
  padding-block: 4rem 0;
}

.chapter__content {
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
  border-radius: 12px;
  background-color: var(--bg-clr-01);
  padding-inline: 4.8rem;
  padding-block: 4.8rem;

  @extend %flex;
  flex-direction: column;
  --gap: 6.4rem;

  animation: fadeAndScale 0.8s cubic-bezier(.25,.8,.25,1);

}

