*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: MAX(MIN(calc(100vw / 1440 * 10), 10px), 7.5px);

  scroll-behavior: smooth;


  @include media ("<=tablet") {
    font-size: calc(100vw / 375 * 2.8);
  }

  @include media ("<=phone") {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  position: relative;
  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;

  transition: opacity 0.4s ease;

  &.loaded {
    opacity: 1;
    visibility: visible;
  }
}

button {
  background: none;
  border: none;
  color: inherit;
  display: block;
  cursor: pointer;
  font-weight: normal;


  &:disabled {
    background: transparent;
    cursor: not-allowed;
  }
}


ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
  color: inherit;
}


/*
 *  Hidden attribute rule
*/
[hidden] {
  display: none !important;
}

/*
 *  Focus rule
*/
:where(button, a, input, textarea, select) {
  transition: outline-offset 200ms cubic-bezier(1, 0, 0, 1), transform 200ms cubic-bezier(1, 0, 0, 1);

  &:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: hsl(var(--purple-600));
    outline-offset: 0.4rem;
  }

  &:active {
    outline-offset: 0.0rem;
  }
}

/*
 *  Screen Reader rule
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*
 *  Accessibility
*/
.skip-to-content {
  position: absolute;
  z-index: z('skip-to-content');

  // background: HSL(var(--clr-white));
  // color: HSL(var(--clr-dark));
  padding: .5em 1em;
  margin-inline: auto;

  transform: translateY(-100%);
  transition: transform 250ms ease-in;

  &:focus {
    transform: translateY(0);
  }
}
